{%   extends("CelmediaPillsBundle::layout.html.twig") %}

{% block contenido %}
    <div class="row-fluid">
        <div class="span12" style="margin-left:0px;">
            <div class="container-fluid">
                <h1 class="title">Truth Pills</h1>
                <div class="row-fluid">
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                </div>
                <div class="img_center"></div>  
                <div class="row-fluid">
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                    <div class="span3">
                        <div class="img_center">
                            <img src="http://placehold.it/200x200" class="img-polaroid" alt="" />
                        </div>
                    </div> 
                </div>
                <div class="row-fluid">  
                    <div class="img_center">
                        <div class="span4 offset4 btn_mas">Ver m&aacute;s Truth Pills</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}