{%   extends("CelmediaPillsBundle::layoutsms.html.twig") %}
{% block contenido %}

<div class="row-fluid">
    <div class="span12" style="margin-left:0px;background-color: gray;">
        <div class="container" style="text-align:center;">
            <div class="space"></div>  
            <h1 class="title_white">ERROR 404</h1>         
            <img src="{{ asset('img/error.png') }}" alt="" />
            <div class="space"></div>  
            <h4 class="subtitle_white" >No encontramos la p&aacute;gina que est&aacute;s buscando.</h4>
            <div class="space"></div>
            <div class="row-fluid">
                <div class="span4 offset4 btn btn-default btn_guardar">Volver al Inicio</div>
            </div>
            <div class="altura"></div>
        </div>
    </div>
</div>

{% endblock %}
