{%   extends("CelmediaPillsBundle::layout.html.twig") %}

{% block contenido %}
<div class="row-fluid">
    <div class="span12" style="margin-left:0px;">
        <div class="container" style="text-align:center;">
            <div class="space"></div>
            <h1 class="title">¡Excelente!</h1>
            <h4 class="subtitle" >Los cambios que haz realizado se han guardado correctamente.</h4>
            <div class="space"></div>
            <div class="row-fluid">
                <div class="span2 offset5 btn btn-default btn_guardar">Volver al Inicio</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}