{%   extends("CelmediaPillsBundle::layout.html.twig") %}

{% block contenido %}

<div class="row-fluid">
    <div class="span12" style="margin-left:0px;background-color: #1D9BFD;">
        <div class="container" style="text-align:center;">
            <div class="space"></div>           
            <img src="{{ asset('img/creacion.png') }}" alt="" />
            <div class="space"></div>  
            <h1 class="title_white">Tu Pill Brief ha sido creado y compartido exitosamente.</h1>
            <h4 class="subtitle_white" >Recuerda que tambi&eacute;n puedes crear un Pill Brief a partir de un Pill.</h4>
            <div class="space"></div>
            <div class="row-fluid">
                <div class="span4 offset4 btn btn-default btn_volver"   onclick="window.location='{{  path('app_home') }}'" >Volver al Inicio</div>
            </div>
            <!-- <div class="altura"></div> -->
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            $('.lateral').height($('.menuizq').height());
            
            $('.lateral').addClass('lateralazul');
        });

    </script>
{% endblock %}